.infos{
    width:100%;
    position: relative;
    overflow: hidden;
    &__desc{
        padding-left: 3rem;
        &__title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 10.5rem;
            h1{
                font-size: 4rem;
                margin: 0;
            }
            div{
                width:75%;
                height: 15px;
                background-color: $orange;
                justify-self: right;
            }
        }
        p{
            width: 80%;
            margin: 0 auto;
            font-size: 1.7rem;
            padding-top: 4rem;
        }
    }

    &__bonbons{
        width: 60%;
        margin: 0 auto;
        padding-top: 6rem;
        &__single{
            display: flex;
            align-items: center;
            padding-bottom: 5rem;
            justify-content: center;
        }
    }

    &__illua{
        position: absolute;
        width: 45vw;
        top: 8%;
        right: -36rem;
        z-index: -1;
    }
    &__illub{
        position: absolute;
        width: 24vw;
        bottom: 5rem;
        left: -12vw;
        z-index: -1;
    }
    &__illuc{
        position: absolute;
        width: 16vw;
        bottom: 2rem;
        right: 3vw;
        z-index: -1;
        transform: rotate(75deg);
    }
}

.bonbon{
    &__img{
        position: relative;
        height: 15rem;
        &--portrait{
            height: 21rem;
            img{
                height: 100%;
            };
        }
        img{
            height: 100%;
        };
    }

    &__infos{
        padding-left: 15rem;
        &--reverse{
            padding-left:0;
            padding-right: 15rem;
        }
        &__title{
            font-size: 2.2rem;
            font-weight: bold;
        }
        &__desc{
            font-size: 1.7rem;
        }
        &__gout{
            font-size: 1.5rem;
            color: $orange;
        }
    }

    &--reverse{
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:768px){
    .infos{
        &__desc{
            padding: 0 2rem;
            p{
                text-align: justify;
                width: 100%;
            }

            &__title{
                padding-top: 8.5rem;
                flex-direction: column;
                margin-bottom: 1.5rem;
            }
        }
        &__bonbons{
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
        }
        .bonbon{
            flex-direction: column;
            padding-bottom:2.5rem;
            &__infos{
                padding: 1.5rem 0 0 0;
            }
            &__infos--reverse{
                padding: 0;
            }
            &__img img{
                max-width: 80vw;
                max-height: 100%;
                height: auto;
            }
        }

        &__illua{
            width: 73vw;
            top: 5%;
            right: -112px;
        }
        &__illub{
            width: 70vw;
            bottom: 10rem;
            left: -35vw;
        }
        &__illuc{
            display: none;
        }
    }
}

.vue3D{
    display: none;
    margin: 0 auto;
}
.bonbon3D:hover{
    .vue3D{
        display: block;
    }
    .vuenormale{
        display: none;
    }
}