@font-face {
    font-family: "Helvetica";
    src: url("../../fonts/Helvetica.ttf") format("ttf");
}
@font-face {
    font-family: "HelveticaBold";
    src: url("../../fonts/Helvetica-Bold.ttf") format("ttf");
}
@font-face {
	font-family: "BiggerLemon";
	src: url('../../fonts/BiggerLemons.ttf') format("ttf");
}